*{
  margin: 0;
  padding: 0;
}
html, body{

  height: 100%;

}

#main{
  overflow: auto;
  padding-bottom: 10px;
}

#container{
  min-height: 100%;
}


#footer{
height: 80px;
margin-top: -10px;
position: relative;
background-color:#222537;
color: aliceblue;
/* clear: both; */
}
